@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Metric Research Inc.<br />
    1141 Eagle Rd<br />
    Broomfield, C0 80020<br />
    @*<abbr title="Email">:</abbr>
    gib.cardwell@gmail.com*@
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@metricresearch.org">Support@MetricResearch.org</a><br />
    <a href="https://outlook.office365.com/owa/?realm=metricresearch.org&exsvurl=1&ll-cc=1033&modurl=0">Check Mail</a>
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>