<connectionStrings>
  <add name="foobar2" connectionString="Server=tcp:metric.database.windows.net,1433; Initial Catalog=MetricDB; Persist Security Info=False; User ID=xxxxx; Password=xxxxxxxx!; MultipleActiveResultSets=False; Encrypt=True; TrustServerCertificate=False; Connection Timeout=30;" providerName="System.Data.SqlClient" />
  <add name="metricDB" connectionString="Server=tcp:metric.database.windows.net,1433; Initial Catalog=MetricDB; Persist Security Info=False; User ID=gcard; Password=dbpassme123!; MultipleActiveResultSets=False; Encrypt=True; TrustServerCertificate=False; Connection Timeout=30;" providerName="System.Data.SqlClient" />
  <add name="LoggingConnection" connectionString="Server=tcp:metric.database.windows.net,1433; Initial Catalog=LoggingDB; Persist Security Info=False; User ID=gcard; Password=dbpassme123!; MultipleActiveResultSets=False; Encrypt=True; TrustServerCertificate=False; Connection Timeout=30;" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-metric-20171217080923.mdf;Initial Catalog=aspnet-metric-20171217080923;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>